<br/><br/>
<section id="features" class="services-area pt-120">
<p id="notice"><%= notice %></p>
<div class="container">
      <h1><%= I18n.t('views.messages.prest') %></h1>
      <table class="table table-dark">
        <thead>
        <tr>
        <th><%= I18n.t('views.messages.nameA') %></th>
        <th><%= I18n.t('views.messages.price') %></th>
        <th><%= I18n.t('views.messages.hospi') %></th>
        <th colspan="3"></th>
      </tr>
        </thead>
        <tbody>
        <% @prestations.each do |prestation| 
          prest=prestation.hospital%>
          <tr>
            <td><%= prestation.name_prest %></td>
            <td><%= prestation.price %></td>
            <td><%= prest.hospi_name %></td>
            <td><%= link_to I18n.t('views.buttons.watchYet'), prestation, class: "badge bg-success", style:"font-size: 12px" %></td>
            <td><%= link_to I18n.t('views.buttons.edit'), edit_prestation_path(prestation), class: "badge bg-warning", style:"font-size: 12px"  %></td>
            <td><%= link_to I18n.t('views.buttons.delete'), prestation, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge bg-danger", style:"font-size: 12px" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<br>

<%= link_to I18n.t('views.buttons.addPrestation'), new_prestation_path , class: "badge bg-primary", style:"font-size: 12px" %></section>