<br/><br/>
<br/><br/>
<%= render "devise/shared/error_messages", resource: resource %>
<div class="container-fluid mt-5">
    <div class="row justify-content-center align-content-center">
        <div class="col-md-4 text-center">
            <h3 id="title" class="font-weight-bold"><%=I18n.t('views.messages.editProfile')%></h3>                        
        </div>
    </div>
    <div class="row justify-content-center align-content-center mt-4">
        <div class="col-md-3">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <div class= "form-group">
                <%= f.label :name %><br/>
                <%= f.text_field :name, class: "form-control shadow-sm", autofocus: true, autocomplete: "name", placeholder: "Chabla" %>
            </div> 
            <div class= "form-group">
                <%= f.label :email %><br/>
                <%= f.email_field :email, autocomplete: "email", class: "form-control shadow-sm", placeholder: "Chablamedia@gmail.com" %>
            </div> 
            
            <div class= "form-group">
                <%= f.label :password %><i>(<%=I18n.t('views.messages.leaveBlank')%>)</i><br/>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%=I18n.t('views.messages.minCharacter')%>)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: "form-control shadow-sm", placeholder: "Password" %>
            </div> 
            
            <div class= "form-group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control shadow-sm", placeholder: "Password Confirm" %>
            </div>  

            <div class= "form-group">
                <%= f.label :current_password %> <i>(<%=I18n.t('views.messages.needPassword')%>)</i><br />
                <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control shadow-sm" %>
            </div>   
            
            <div class="actions text-center mt-5">
              <%= f.submit I18n.t('views.buttons.update'), class: "submit-button" %>
            </div>
          <% end %>
        </div>
    </div>
</div>
