<br/><br/>
<section id="features" class="services-area pt-120">
<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hospi_name %>
    <%= form.text_field :hospi_name, placeholder: "Nom d'hôpital" %>
  </div>

  <div class="field">
    <%= form.label :hospi_adresse %>
    <%= form.text_field :hospi_adresse, placeholder: "Adresse d'hôpital" %>
  </div>

  <div class="actions">
    <%= form.submit, style:"font-size: 12px" %>
  </div>
<% end %>
</section>
