<div class="container-fluid pt-5 pb-2"> 
<p id="notice"><%= notice %></p>

<!--====== SERVICES PART START ======-->
            <section id="features" class="services-area pt-120">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="section-title text-center pb-40">
                                <div class="line m-auto"></div>
                                <%= I18n.t('views.messages.contentAcceuil1') %>
                                   <div> <span><%= I18n.t('views.messages.contentAcceuil2') %></span> </div>
                            </div>
                            <!-- section title -->
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-7 col-sm-8">
                            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                                <div class="services-content mt-30">
                                    <p class="text">
                                     <%= I18n.t('views.messages.service1') %>
                                    </p>
                                    <!-- <a class="more" href="#">Lire Plus<i class="lni lni-chevron-right"></i></a>-->
                                </div>
                            </div>
                            <!-- single services -->
                        </div>
                        <div class="col-lg-4 col-md-7 col-sm-8">
                            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                                <div class="services-content mt-30">
                                    <p class="text">
                                    <%= I18n.t('views.messages.service2') %>
                                    </p>
                                    <!-- <a class="more" href="#">Lire Plus<i class="lni lni-chevron-right"></i></a>-->
                                </div>
                            </div>
                            <!-- single services -->
                        </div>
                        <div class="col-lg-4 col-md-7 col-sm-8">
                            <div class="single-services text-center mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.8s">
                                <div class="services-content mt-30">
                                    <p class="text">
                                      <%= I18n.t('views.messages.service3') %>
                                    </p>
                                    <!-- <a class="more" href="#">Lire Plus<i class="lni lni-chevron-right"></i></a>-->
                                </div>
                            </div>
                            <!-- single services -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </section>

            <!--====== SERVICES PART ENDS ======-->

<%= form_tag hospitals_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: "Recherche rapide ici" %>
    <%= submit_tag "Search", :hospi_name => nil %>
  </p>
<% end %>

    <div class="container">
      <h1><%= I18n.t('views.messages.titleA') %></h1>
      <table class="table table-dark">
        <thead>
        <tr>
          <th><%= I18n.t('views.messages.nameA') %></th>
          <th><%= I18n.t('views.messages.adresseA') %></th>
          <th colspan="3"></th>
         </tr>
        </thead>
        <tbody>
        <% @hospitals.each do |hospital| %>
          <tr>
            <td><%= hospital.hospi_name %></td>
            <td><%= hospital.hospi_adresse %></td>
            <td><%= link_to I18n.t('views.buttons.watchYet'), hospital, class: "badge bg-success" %></td>
            <% if user_signed_in? %>
              <% if current_user.role? %>
                <td><%= link_to I18n.t('views.buttons.edit'), edit_hospital_path(hospital), class: "badge bg-warning"  %></td>
                <td><%= link_to I18n.t('views.buttons.delete'), hospital, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge bg-danger"  %></td>
              <%end%>
            <%end%>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

<br>
<% if user_signed_in? %>
    <% if current_user.role? %>
       <%= link_to I18n.t('views.buttons.addHopital'), new_hospital_path, class: "badge bg-primary"  %>
    <%end%>
<%end%>

</div>