<!DOCTYPE html>
<html>
  <head>
    <title>OriginsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
    <link href="/style.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.fedapay.com/checkout.js?v=1.1.7"></script>
  </head>

  <body>
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a href="#">Chabla healthGATE</a></h1>
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><%= link_to I18n.t('views.messages.home'), root_path, class: "nav-link scrollto" %></li>
            <% if user_signed_in? %>  
                <li><%= link_to I18n.t('views.messages.profile'), user_path(current_user.id), class: "nav-link scrollto " %></li>
                <li><a class="nav-link scrollto" href="/historique"><%=I18n.t('views.messages.historique')%></a></li>
              <% if current_user.role? %>
                <li> <a class="nav-link scrollto" href="/admin"><%=I18n.t('views.messages.admin')%></a></li>
                <li><%= link_to  I18n.t('views.messages.prestations') , prestations_path, class: "nav-link scrollto" %></li>
              <% end %>
                <li><%= link_to I18n.t('views.messages.logout'), destroy_user_session_path, method: :delete, class: "nav-link scrollto"%></li>
            <% else %>
                <li><%= link_to I18n.t('views.messages.signIn') , new_user_session_path, class:"nav-link scrollto" %></li>
                <li><%= link_to I18n.t('views.messages.signUp'), new_user_registration_path, class:"nav-link scrollto"%></li>
                <li><%= link_to I18n.t('views.messages.guestUser'), users_guest_sign_in_path, method: :post, class:"nav-link scrollto"%></li>
                <li><%= link_to I18n.t('views.messages.guestAdmin'), users_guest_admin_sign_in_path, method: :post, class:"nav-link scrollto"%></li>
            <% end %>
          </ul>  
      </div>
    </header>
    <%= yield %>
    <div class="container-fluid" style="

    bottom:0;
    
    width:100%;
    
    padding-top:100px;
    
    height:50px;">
      <div class="row justify-content-center align-content-center text-center bg-light">
          <div class="col-md-5">
              <p class="mt-4 mb-4 font-weight-bolder">ChablaHEALTH ©︎ 2021 Origins | Design by Jean-Baptiste CHABI</p>
          </div>
      </div>
    </div>
  </body>
</html>